@import url(../normalize.css);
@import url(../fonts/stylesheet.css);

.body {
  font-family: "Roboto";
}

.main {
  width: 661px;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  gap: 203px;
}
.form__input {
  padding-left: 13px;
  width: 481px;
  height: 61px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.form__input:focus {
  outline: none;
}
.form {
  margin: 62px auto;
  width: 500px;
  position: relative;
}
.card-container {
  width: 503px;
  margin: 0 auto 72px;
  display: flex;
  flex-direction: column;
}
.card {
  padding: 8px 16px;
  width: 471px;
  height: 85px;
  display: flex;
  background-color: #e27beb;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid #000000;
  justify-content: space-between;
  align-items: center;
}
.card__info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__delete-icon {
  width: 42px;
  height: 39px;
  margin-right: 8px;
  transition: 0.2s;
}
.card__delete-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
.form__request-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 500px;
  position: absolute;
}
.form__request {
  list-style-type: none;
  margin: 0;
  padding-left: 13px;
  min-height: 44px;
  background: #e3e3e3;
  border: 2px solid #000000;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.form__request:hover {
  cursor: pointer;
  background: #65cdf9;
}
.form__label {
  color: red;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  visibility: hidden;
  display: block;
  position: absolute;
  margin-top: 20px;
  transition: 0.2s;
}
.form__label-visible {
  visibility: visible;
}
